#back{
    background-color: rgb(65, 65, 65);
}
#nav-bar{
    text-align: left;
    background-color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    width: auto;
    height: 75px;
    position: relative;
    top: -35px;
    border-radius: 20px;
}
#heading{
    font-size: 65px;
    position: relative;
    left: 30px;
}
#list-item{
    color: white;
    font-size: x-large;
    text-align: center;
    display:block;
    float:left;
    width:220px;
    height:150px;
    padding: 2px;
    position: relative;
    top: -30px;
}
 #navigation{
    padding-left: 550px;
    position: relative;
    top: -80px;
}
 #zitat1{
    background-color: grey;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
    text-align: left;
    position: relative;
    top: -70px;
    height: 270px;
    width: auto;
}
#z-framing1{
    text-align: left;
    position: relative;
    left: -60%;
    font-size: 75px;
}
#z-text1{
    text-align: left;
    position: relative;
    left: -56%;
    top: -130px;
    font-size: 70px;
}
#z-text2{
    text-align: left;
    position: relative;
    left: 8.5%;
    top: -170px;
    font-size: 70px;
}
#z-creator1{
    text-align: left;
    font-size: 35px;
    position: relative;
    top: -230px;
    left: 20%;
}
#z-framing2{
    text-align: left;
    position: relative;
    left: 42%;
    font-size: 75px;
    position: relative;
    top: -320px;
}
#z-picture1{
    border-radius: 20px;
    align-items: end;
    position: relative;
    top: -673px;
    width: 480px;
    left: 62.5%;
}
#copyright{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    text-align: left;
    position: absolute;
    bottom: 0px;
}