#back{
    background-color: rgb(65, 65, 65);
}
#nav-bar{
    text-align: left;
    background-color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    width: auto;
    height: 5%;
    top: -2pc;
    border-radius: 1pc;
}
#heading{
    font-size: 350%;
    position: relative;
    left: 1%;
}
#list-item{
    color: white;
    font-size: x-large;
    text-align: center;
    display:block;
    float:left;
    width: 50%;
    height: 25%;
    padding: 1.7%;
    position: relative;
    top: -35px;
}
 #navigation{
    text-align: left;
    padding-left: 35%;
    position: relative;
    top: -5pc;
}
 #zitat1{
    background-color: grey;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 1pc;
    text-align: left;
    position: relative;
    top: -3.6pc;
    height: 20pc;
    width: 100%;
}
#z-framing1{
    text-align: right;
    position: relative;
    left: -97%;
    font-size: 4pc;
    top: 3%;
}
#z-text1{
    text-align: left;
    position: relative;
    left: 4.5%;
    top: -39%;
    font-size: 6pc;
}
#z-text2{
    text-align: left;
    position: relative;
    left: 4.5%;
    top: -63%;
    font-size: 6pc;
}
#z-creator1{
    text-align: left;
    font-size: 2.5pc;
    position: relative;
    top: -95%;
    left: 28%;
}
#z-framing2{
    text-align: left;
    position: relative;
    left: 51.5%;
    font-size: 4pc;
    position: relative;
    top: -125%;
}
#z-picture1{
    border-radius: 1pc;
    align-items: end;
    position: relative;
    top: -239%;
    width: 35pc;
    height: 20pc;
    left: 56%;
}
#copyright{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    text-align: left;
    position: absolute;
    bottom: 0;
}